<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDo.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container mt-5" style="width: 50%; border-radius: 10px; min-height: 300px">

        <main role="main" class="pb-3">

            @RenderBody()

        </main>

    </div>

    <footer class="footer" style="background-color: #232323">

		<div class="container" style="width: 50%; padding: 0 18px">

			<div class="d-flex justify-content-between align-items-center">

				<div class="text-muted">

					Realization of technical assignment for <a style="outline: medium" target="_blank" href="https://shop-express.ua/ukr/">Shop-Express</a>  company
				</div>

				<div class="text-muted">

					Created by: <a style="outline: medium" target="_blank" href="https://www.linkedin.com/in/vadym-lisovskyi/">Vadym Lisovskyi</a>
				</div>

			</div>
			
        </div>

    </footer>

    <div class="toast-container position-fixed top-0 end-0 p-3" id="toast-container" style="margin-top: 30px">
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>

	function SuccesToastShow(toastText) {

		let id = new Date().getTime();
		let toast = `<div class="toast fade" role="alert" style="background-color: #393939; width: 300px;" aria-live="assertive" data-autohide="true" aria-atomic="true" data-delay="3000" id=${id}>
						<div class="toast-header">
							<img src="https://cdn-icons-png.flaticon.com/512/6785/6785304.png" width="15" height="15" class="rounded me-2" alt="...">
								<strong class="me-auto">Success</strong>
						</div>
						<div class="toast-body">
								<span id="s_toastText">${toastText}</span>
						</div>
					</div>`
		let toastNode = document.createElement('div');
		toastNode.innerHTML = toast;
		document.getElementById('toast-container').appendChild(toastNode);
		$(`#${id}`).toast('show');

	}

	function ErrorToastShow(toastText) {

		let id = new Date().getTime();
		let toast = `<div class="toast fade" role="alert" style="background-color: #393939; width: 300px;" aria-live="assertive" data-autohide="true" aria-atomic="true" data-delay="3000" id=${id}>
							<div class="toast-header">
									<img src="https://cdn-icons-png.flaticon.com/512/463/463612.png" width="15" height="15" class="rounded me-2" alt="...">
								<strong class="me-auto">Oops</strong>
							</div>
							<div class="toast-body">
									<span id="s_toastText">${toastText}</span>
							</div>
						</div>`
		let toastNode = document.createElement('div');
		toastNode.innerHTML = toast;
		document.getElementById('toast-container').appendChild(toastNode);
		$(`#${id}`).toast('show');
	}

</script>